  :root { 
    --primary--100: #f6e5e5;
    --primary--200: #eccccc;
    --primary--300: #e3b3b3;
    --primary--400: #d08080;
    --primary--500: #c76666;
    --primary--600: #bd4c4c;
    --primary--700-default: #a10000;
    --primary--800-pressed: #710000;
    --primary--900: #510000;
    --gray--100: #f5f5f5;
    --gray--200: #f1f1f1;
    --gray--300: #dddddd;
    --gray--400: #cccccc;
    --gray--500: #aaaaaa;
    --gray--600: #777777;
    --gray--700: #4f4f4f;
    --gray--800: #2e2e2e;
    --gray--900: #1b1b1b;
    --default---white: #ffffff;
    --default---black: #000000;
    --system---error: #fa5b51;
    --system---warning: #ffce00;
    --system---success: #00cc6f;
    --sub---blue_100: #e5eaf6;
    --sub---blue_500: #265cdc;
    --sub---green_100: #e5f6ea;
    --sub---green_500: #44b666;
    --sub---ivory_100: #f3f0e8;
    --backup---white---white: #ffffff;
    --backup---white--95: #ffffff;
    --backup---white--90: #ffffff;
    --backup---white--85: #ffffff;
    --backup---white--80: #ffffff;
    --backup---white--75: #ffffff;
    --backup---white--70: #ffffff;
    --backup---white--65: #ffffff;
    --backup---white--60: #ffffff;
    --backup---white--55: #ffffff;
    --backup---white--50: #ffffff;
    --backup---white--45: #ffffff;
    --backup---white--40: #ffffff;
    --backup---white--35: #ffffff;
    --backup---white--30: #ffffff;
    --backup---white--25: #ffffff;
    --backup---white--25: #ffffff;
    --backup---white--15: #ffffff;
    --backup---white--10: #ffffff;
    --backup---black---black: #000000;
    --backup---black--95: #000000;
    --backup---black--90: #000000;
    --backup---black--85: #000000;
    --backup---black--80: #000000;
    --backup---black--75: #000000;
    --backup---black--70: #000000;
    --backup---black--65: #000000;
    --backup---black--60: #000000;
    --backup---black--55: #000000;
    --backup---black--50: #000000;
    --backup---black--45: #000000;
    --backup---black--40: #000000;
    --backup---black--35: #000000;
    --backup---black--30: #000000;
    --backup---black--25: #000000;
    --backup---black--20: #000000;
    --backup---black--15: #000000;
    --backup---black--10: #000000;
  }